html
    head
        link(rel="stylesheet" type="text/css" href="/css/style.css")
        script(src="/js/new_note_controller.js")
        title Notes
        body
            nav
                a(onclick="history.back()") Return to all notes
            main
                form(method="post" action="/note" name="note_form")
                    label Input note title
                        input(name="title" type="text" placeholder="Note title" required="true")
                    label Input note data
                        textarea(name="data" placeholder="Notes" required="true")
                    input(type="submit")
