body {
  background: #e3e3e3;
  display: flex;
  flex-direction: column;
}

$nav_div_height: 3em;

nav {
  display: flex;
  flex-direction: row;
  place-content: space-between;

  a {
    //display: flex;
    text-align: center;
    text-decoration: none;
    color: black;
    line-height: $nav_div_height;
    width: 10em;
    height: $nav_div_height;
    border: 2px solid black;
    border-radius: 1em;
    background: transparent;
    //mix-blend-mode: difference;

    transition-property: color;
    transition-duration: 0.2s;
    overflow: hidden;
  }

  a::after {
    content: "";
    display: flow-root;
    position: relative;
    background: black;
    width: 10em;
    height: $nav_div_height;
    transition-property: all;
    transition-duration: 0.2s;
    z-index: -1;
  }

  a:hover::after {
    transform: translateY(-100%);
    color: white
  }

  a:hover {
    color: white;
  }
}

ul {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-items: center;
  gap: 3em;
}

li {
  background: #d3b043;
  width: 50vw;
  display: block;
  padding: 2em;
  border: 1px solid #000000;
  border-radius: 0.3em;

  h3 {
    margin: 0 0 1em 0;
  }
}
