body {
  background: #e3e3e3;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

$nav_div_height: 3em;

nav {
  display: flex;
  flex-direction: row;
  place-content: space-between;

  a {
    //display: flex;
    text-align: center;
    text-decoration: none;
    color: black;
    line-height: $nav_div_height;
    width: 10em;
    height: $nav_div_height;
    border: 2px solid black;
    border-radius: 1em;
    background: transparent;
    //mix-blend-mode: difference;

    transition-property: color;
    transition-duration: 0.2s;
    overflow: hidden;
  }

  a::after {
    content: "";
    display: flow-root;
    position: relative;
    background: black;
    width: 10em;
    height: $nav_div_height;
    transition-property: all;
    transition-duration: 0.2s;
    z-index: -1;
  }

  a:hover::after {
    transform: translateY(-100%);
    color: white
  }

  a:hover {
    color: white;
  }
}

#hide_body_div {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(0.2em);

  &.hidden {
    left: 100%;
  }
}

#find_note_menu {
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(52, 52, 52, 0.06);
  backdrop-filter: blur(0.5em);
  width: 20em;
  height: 100vh;
  padding: 0;
  top: 0;
  left: 0;
  transition-property: left;
  transition-duration: 0.5s;
  filter: none;
  z-index: 5;
  text-align: center;
  font-size: 1.7em;
  border: 1px solid white;
  box-shadow: 0.1em 0.1em 1em 0.05em white;

  @media(max-width: 550px) {
    width: 80vw;
    font-size: 0.8em;
  }

  &.hidden {
    display: none;
    left: -1000%;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 60%;
    place-content: center;
    align-items: center;
    background-color: rgba(232, 232, 232, 0.42);
    border: 1px solid white;
    box-shadow: 0.1em 0.1em 1em 0.05em white;
    backdrop-filter: blur(0.2em);
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 1em;
  }
  label {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  input {
    height: 2em;
    border-radius: 0.5em;
    transition: border 0.2s;
    padding-left: 0.5em;
  }
  input:hover {
    border: 2px solid #8d8df1;
  }
  button {
    width: 8em;
    height: 2em;
    border-radius: 0.5em;
    transition-property: border, box-shadow, text-shadow;
    transition-duration: 0.2s;
  }

  button:hover {
    border: 2px solid white;
    box-shadow: 0.1em 0.1em 1em 0.5em white;
    text-shadow: 0.1em 0.1em 1em 2em white;
  }
}

ul {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-items: center;
  gap: 3em;
}

li {
  background: #d3b043;
  width: 50vw;
  display: block;
  border: 1px solid #000000;
  border-radius: 0.3em;
  font-size: 1.5em;
  box-shadow: 0.1em 0.1em 0.5em 0.1em #696666;

  form {
    margin: 0;
  }

  $button_size: 3em;

  button {
    width: $button_size;
    height: $button_size;
    border-radius: 0.7em;
    border: 2px solid black;
    overflow: hidden;
    transition-property: color, background-color;
    transition-duration: 0.2s;
    box-shadow: 0.1em 0.1em 0.3em 0.1em #545454;
  }

  button:hover {
    color: white;
    background: black;
  }


  div.header {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    place-content: space-between;
    margin-bottom: 0;
  }

  div.note_data {
    padding: 1.5em;
  }

  h3 {
    margin: 0 0 1em 0;
  }

  .hidden_icon {
    display: none;
    visibility: hidden;
  }

  .hidden_form {
    display: none;
    visibility: hidden;
  }

  & > form {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  .title_input {
    font-size: 1.3em;
    border-radius: 0.2em;
  }

  .data_input {
    font-size: 1.1em;
    overflow-y: auto;
    height: 10em;
    word-wrap: break-word;
    border-radius: 0.2em;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-content: center;
  place-items: center;

  form {
    display: flex;
    font-size: 1.5em;
    flex-direction: column;
    place-items: center;
    gap: 1em;
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 1em;
    place-items: center;
  }

  input[type="text"] {
    width: 20em;
    height: 3em;
  }

  textarea {
    width: 30em;
    height: 15em;
    resize: none;
  }

  input[type="submit"] {
    width: 8em;
    height: 2.5em;
    border-radius: 1em;
    transition: 0.2s ;
  }

  input[type="submit"]:hover {
    border: 2px solid blue;
  }
}
