body {
  background: #e3e3e3;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

$nav_div_height: 3em;

nav {
  display: flex;
  flex-direction: row;
  place-content: space-between;

  a {
    //display: flex;
    text-align: center;
    text-decoration: none;
    color: black;
    line-height: $nav_div_height;
    width: 10em;
    height: $nav_div_height;
    border: 2px solid black;
    border-radius: 1em;
    background: transparent;
    //mix-blend-mode: difference;

    transition-property: color;
    transition-duration: 0.2s;
    overflow: hidden;
  }

  a::after {
    content: "";
    display: flow-root;
    position: relative;
    background: black;
    width: 10em;
    height: $nav_div_height;
    transition-property: all;
    transition-duration: 0.2s;
    z-index: -1;
  }

  a:hover::after {
    transform: translateY(-100%);
    color: white
  }

  a:hover {
    color: white;
  }
}

#hide_body_div {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(0.2em);

  &.hidden {
    left: 100%;
  }
}

#find_note_menu {
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(157, 156, 156, 0.24);
  backdrop-filter: blur(0.5em);
  width: 20em;
  height: 100vh;
  padding: 0;
  top: 0;
  left: 0;
  transition-property: left;
  transition-duration: 0.5s;
  filter: none;
  z-index: 5;

  &.hidden {
    left: -100%;
  }

  form {
    display: flex;
    flex-direction: column;
  }
  label {
    display: flex;
    flex-direction: column;
  }
}

ul {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-items: center;
  gap: 3em;
}

li {
  background: #d3b043;
  width: 50vw;
  display: block;
  border: 1px solid #000000;
  border-radius: 0.3em;
  font-size: 1.5em;
  box-shadow: 0.1em 0.1em 0.5em 0.1em #696666;

  form {
    margin: 0;
  }

  $button_size: 3em;

  button {
    width: $button_size;
    height: $button_size;
    border-radius: 0.7em;
    border: 2px solid black;
    overflow: hidden;
    transition-property: color, background-color;
    transition-duration: 0.2s;
    box-shadow: 0.1em 0.1em 0.3em 0.1em #545454;
  }

  button:hover {
    color: white;
    background: black;
  }


  div.header {
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    place-content: space-between;
    margin-bottom: 0;
  }

  div.note_data {
    padding: 1.5em;
  }

  h3 {
    margin: 0 0 1em 0;
  }
}
